# ========================
# Go build files
# ========================
*.exe
*.out
*.test

# ไฟล์ binary หรือ output
/build/
/bin/
/dist/

# ========================
# Air specific
# ========================
.tmp/
.air/
.air.*

# ========================
# Vendor folder (ถ้าใช้ go mod vendor)
# ========================
/vendor/

# ========================
# IDE และ Editor settings
# ========================
.vscode/
.idea/

# ========================
# Logs
# ========================
*.log

# ========================
# OS-specific
# ========================
.DS_Store
Thumbs.db

# ========================
# Environment files
# ========================
.env
.env.*